<header class="header">
  <div class="left">КрутоБанк</div>

  <div class="actions">
    <button class="right" type="button" (click)="openCreateTariff()">
      Новый тариф
    </button>

    <a class="nav-link" routerLink="/frontend-monitoring">Мониторинг</a>

     <button
      class="theme-toggle"
      type="button"
      (click)="toggleTheme()"
      [attr.aria-label]="themeService.isDark() ? 'Включить светлую тему' : 'Включить тёмную тему'"
    >
      <mat-icon>{{ themeService.isDark() ? 'light_mode' : 'dark_mode' }}</mat-icon>
    </button>

    <button class="logout" type="button" (click)="logout()">
      <mat-icon>logout</mat-icon>
      <span>Выйти</span>
    </button>
  </div>
</header>

<app-create-tariff-modal
  *ngIf="modalOpen()"
  (closed)="onModalClosed($event)"
></app-create-tariff-modal>
