# macOS
.DS_Store

# Xcode
build/
DerivedData/
*.xcworkspace
!default.xcworkspace
xcuserdata/
*.xcuserstate

# Swift Package Manager
.build/
Packages/

# CocoaPods
Pods/
Podfile.lock

# Carthage
Carthage/Build/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/

# Logs
*.log

# Environment files
.env

# IDE
.idea/
.vscode/

# Archives
*.xcarchive

# Temporary files
*.swp