# .NET Core
**/bin/
**/obj/
**/publish/
**/out/

# Visual Studio
**/.vs/
**/.vscode/
*.user
*.userosscache
*.suo
*.userprefs

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/

# Docker
**/Dockerfile*
**/docker-compose*
!docker-compose.yml
**/.dockerignore

# Logs
*.log

# KrutoBankSolution
**/KrutoBankSolution/obj/
**/KrutoBankSolution/bin/