@use '@angular/material' as mat;

html {
  height: 100%;

  @include mat.theme((
    color: (
      theme-type: light,
      primary: mat.$rose-palette,
      tertiary: mat.$magenta-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
}

body {
  color-scheme: light;

  background: linear-gradient(135deg, #fff0f5 0%, #ffe4ec 50%, #fff7fa 100%);

  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);

  margin: 0;
  height: 100%;
}